.position{

	position: absolute;
	top: 65%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	width :1200px;
	height: 500px;
}


.bg{
	background-color: black;
	width: 100%;
	height: 100px;

}

.title{
	color: white;
	margin-left: 85px;
	padding-top:25px;

}

.my-custom-scrollbar {
	position: relative;
	height: 300px;
	overflow: auto;
}
.table-wrapper-scroll-y {
	display: block;
}